name: Nix

on:
  push:
    branches:
      - main

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@v16
      - uses: cachix/cachix-action@v15
        with:
          name: li-kai
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - run: nix build
